html,
body {
    padding: 0;
    margin: 0;
    background: lightgreen;
}

button, input {
    font-family: monospace;
    font-size: 2.5vh
}

p {
    font-family: monospace;
    font-size: 1.5vh;
    background: white;
}